.dashboard-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
}

.dashboard-header input {
  width: 60%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.dashboard-header button {
  padding: 10px 20px;
  background-color: #00cc7a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dashboard-content {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.today-events,
.upcoming-appointment {
  width: 45%;
  margin: 20px;
}

.blood-pressure-chart,
.linked-devices {
  width: 45%;
  margin: 20px;
}
