nav {
  width: 100%;
  background-color: #ded9d9 !important;
  transition: all 0.5s;
  z-index: 997;
  position: sticky;
  justify-content: space-between;
  top: 0;
}

nav .navbar-nav {
  margin-top: 12px;
}

.navbar-collapse {
  flex-grow: 0 !important;
  justify-content: flex-end !important;
}

nav .navbar-nav a {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-right: 20px;
  transition: all 0.8s;
}

.navbar-nav a.active {
  color: #ffffff !important;
}

nav .navbar-nav a:hover {
  color: #e132f1;
}

.sticked {
  background-color: white !important;
  position: fixed !important;
  width: 100%;
  top: 0%;
  right: 0;
  left: 0;
  z-index: 1030;
}

.container-fluid {
  padding: 0px 30px !important;
}

nav .navbar-nav button {
  background-color: #565acf;
  padding: 17px 35px;
  border-radius: 8px;
  color: #fff;
  border: none;
  text-transform: uppercase;
  margin-top: -14px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.5s;
  border-width: 2px;
  line-height: 1.2;
  box-shadow: 0 5px 20px 0 rgba(240, 240, 240, 0.3) !important;
}

nav .navbar-nav button span {
  width: 40px;
  height: 40px;
  background: #fff;
  color: #565acf;
  font-weight: 900;
  font-size: 19px;
  border-radius: inherit;
  line-height: 40px;
  display: inline-block;
  margin: -12px -27px -12px 15px;
}

nav .navbar-nav button span svg {
  padding-bottom: 2px;
}

nav .navbar-nav button:hover {
  background-color: #494cae;
}

.navbar-nav .dropdown-menu {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 0 !important;
  width: 200px;
  overflow: hidden;
  position: static;
  transition: height 0.3s ease-in-out;
  transition-delay: 0.1s;
}

.navbar-nav .dropdown-menu a {
  color: #444444;
  font-size: 14px;
  line-height: 30px !important;
  /* transition: 0.3s ease all; */
  position: relative;
}

.navbar-toggler {
  border: none !important;
}

.custom-toggle {
  border: none; /* Remove default border */
  background: transparent; /* Make background transparent */
}


.navbar-nav .dropdown-menu a:hover {
  color: #565acf !important;
}

@media (max-width: 992px) {
  nav .navbar-nav a {
    margin-bottom: 16px;
  }
  .navbar-nav .dropdown-menu {
    width: 100%;
    background-color: rgba(248, 249, 250);
    border: none;
  }
}

@media (max-width: 550px) {
  .navbar-brand img {
    width: 130px;
  }
}
